In [2]:
import numpy as np

In [3]:
a=np.array([1,2,3,4,5])

In [4]:
a

array([1, 2, 3, 4, 5])

In [5]:
type(a)

numpy.ndarray

In [6]:
a.dtype

dtype('int32')

In [8]:
a.shape

(5,)

In [9]:
a.ndim

1

In [10]:
a=np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [11]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [12]:
type(a)

numpy.ndarray

In [13]:
a.ndim

2

In [14]:
a=np.arange(15)

In [15]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [16]:
a=np.arange(0,20,0.5)

In [17]:
a

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,
        5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5,
       11. , 11.5, 12. , 12.5, 13. , 13.5, 14. , 14.5, 15. , 15.5, 16. ,
       16.5, 17. , 17.5, 18. , 18.5, 19. , 19.5])

In [18]:
a.dtype

dtype('float64')

In [20]:
a.ndim

1

In [23]:
a=np.linspace(0,100,500)

In [24]:
a

array([  0.        ,   0.2004008 ,   0.4008016 ,   0.6012024 ,
         0.80160321,   1.00200401,   1.20240481,   1.40280561,
         1.60320641,   1.80360721,   2.00400802,   2.20440882,
         2.40480962,   2.60521042,   2.80561122,   3.00601202,
         3.20641283,   3.40681363,   3.60721443,   3.80761523,
         4.00801603,   4.20841683,   4.40881764,   4.60921844,
         4.80961924,   5.01002004,   5.21042084,   5.41082164,
         5.61122244,   5.81162325,   6.01202405,   6.21242485,
         6.41282565,   6.61322645,   6.81362725,   7.01402806,
         7.21442886,   7.41482966,   7.61523046,   7.81563126,
         8.01603206,   8.21643287,   8.41683367,   8.61723447,
         8.81763527,   9.01803607,   9.21843687,   9.41883768,
         9.61923848,   9.81963928,  10.02004008,  10.22044088,
        10.42084168,  10.62124248,  10.82164329,  11.02204409,
        11.22244489,  11.42284569,  11.62324649,  11.82364729,
        12.0240481 ,  12.2244489 ,  12.4248497 ,  12.6252505 ,
        12.8256513 ,  13.0260521 ,  13.22645291,  13.42685371,
        13.62725451,  13.82765531,  14.02805611,  14.22845691,
        14.42885772,  14.62925852,  14.82965932,  15.03006012,
        15.23046092,  15.43086172,  15.63126253,  15.83166333,
        16.03206413,  16.23246493,  16.43286573,  16.63326653,
        16.83366733,  17.03406814,  17.23446894,  17.43486974,
        17.63527054,  17.83567134,  18.03607214,  18.23647295,
        18.43687375,  18.63727455,  18.83767535,  19.03807615,
        19.23847695,  19.43887776,  19.63927856,  19.83967936,
        20.04008016,  20.24048096,  20.44088176,  20.64128257,
        20.84168337,  21.04208417,  21.24248497,  21.44288577,
        21.64328657,  21.84368737,  22.04408818,  22.24448898,
        22.44488978,  22.64529058,  22.84569138,  23.04609218,
        23.24649299,  23.44689379,  23.64729459,  23.84769539,
        24.04809619,  24.24849699,  24.4488978 ,  24.6492986 ,
        24.8496994 ,  25.0501002 ,  25.250501  ,  25.4509018 ,
        25.65130261,  25.85170341,  26.05210421,  26.25250501,
        26.45290581,  26.65330661,  26.85370741,  27.05410822,
        27.25450902,  27.45490982,  27.65531062,  27.85571142,
        28.05611222,  28.25651303,  28.45691383,  28.65731463,
        28.85771543,  29.05811623,  29.25851703,  29.45891784,
        29.65931864,  29.85971944,  30.06012024,  30.26052104,
        30.46092184,  30.66132265,  30.86172345,  31.06212425,
        31.26252505,  31.46292585,  31.66332665,  31.86372745,
        32.06412826,  32.26452906,  32.46492986,  32.66533066,
        32.86573146,  33.06613226,  33.26653307,  33.46693387,
        33.66733467,  33.86773547,  34.06813627,  34.26853707,
        34.46893788,  34.66933868,  34.86973948,  35.07014028,
        35.27054108,  35.47094188,  35.67134269,  35.87174349,
        36.07214429,  36.27254509,  36.47294589,  36.67334669,
        36.87374749,  37.0741483 ,  37.2745491 ,  37.4749499 ,
        37.6753507 ,  37.8757515 ,  38.0761523 ,  38.27655311,
        38.47695391,  38.67735471,  38.87775551,  39.07815631,
        39.27855711,  39.47895792,  39.67935872,  39.87975952,
        40.08016032,  40.28056112,  40.48096192,  40.68136273,
        40.88176353,  41.08216433,  41.28256513,  41.48296593,
        41.68336673,  41.88376754,  42.08416834,  42.28456914,
        42.48496994,  42.68537074,  42.88577154,  43.08617234,
        43.28657315,  43.48697395,  43.68737475,  43.88777555,
        44.08817635,  44.28857715,  44.48897796,  44.68937876,
        44.88977956,  45.09018036,  45.29058116,  45.49098196,
        45.69138277,  45.89178357,  46.09218437,  46.29258517,
        46.49298597,  46.69338677,  46.89378758,  47.09418838,
        47.29458918,  47.49498998,  47.69539078,  47.89579158,
        48.09619238,  48.29659319,  48.49699399,  48.69739479,
        48.89779559,  49.09819639,  49.29859719,  49.498998  ,
        49.6993988 ,  49.8997996 ,  50.1002004 ,  50.3006012 ,
        50.501002  ,  50.70140281,  50.90180361,  51.10220441,
        51.30260521,  51.50300601,  51.70340681,  51.90380762,
        52.10420842,  52.30460922,  52.50501002,  52.70541082,
        52.90581162,  53.10621242,  53.30661323,  53.50701403,
        53.70741483,  53.90781563,  54.10821643,  54.30861723,
        54.50901804,  54.70941884,  54.90981964,  55.11022044,
        55.31062124,  55.51102204,  55.71142285,  55.91182365,
        56.11222445,  56.31262525,  56.51302605,  56.71342685,
        56.91382766,  57.11422846,  57.31462926,  57.51503006,
        57.71543086,  57.91583166,  58.11623246,  58.31663327,
        58.51703407,  58.71743487,  58.91783567,  59.11823647,
        59.31863727,  59.51903808,  59.71943888,  59.91983968,
        60.12024048,  60.32064128,  60.52104208,  60.72144289,
        60.92184369,  61.12224449,  61.32264529,  61.52304609,
        61.72344689,  61.9238477 ,  62.1242485 ,  62.3246493 ,
        62.5250501 ,  62.7254509 ,  62.9258517 ,  63.12625251,
        63.32665331,  63.52705411,  63.72745491,  63.92785571,
        64.12825651,  64.32865731,  64.52905812,  64.72945892,
        64.92985972,  65.13026052,  65.33066132,  65.53106212,
        65.73146293,  65.93186373,  66.13226453,  66.33266533,
        66.53306613,  66.73346693,  66.93386774,  67.13426854,
        67.33466934,  67.53507014,  67.73547094,  67.93587174,
        68.13627255,  68.33667335,  68.53707415,  68.73747495,
        68.93787575,  69.13827655,  69.33867735,  69.53907816,
        69.73947896,  69.93987976,  70.14028056,  70.34068136,
        70.54108216,  70.74148297,  70.94188377,  71.14228457,
        71.34268537,  71.54308617,  71.74348697,  71.94388778,
        72.14428858,  72.34468938,  72.54509018,  72.74549098,
        72.94589178,  73.14629259,  73.34669339,  73.54709419,
        73.74749499,  73.94789579,  74.14829659,  74.34869739,
        74.5490982 ,  74.749499  ,  74.9498998 ,  75.1503006 ,
        75.3507014 ,  75.5511022 ,  75.75150301,  75.95190381,
        76.15230461,  76.35270541,  76.55310621,  76.75350701,
        76.95390782,  77.15430862,  77.35470942,  77.55511022,
        77.75551102,  77.95591182,  78.15631263,  78.35671343,
        78.55711423,  78.75751503,  78.95791583,  79.15831663,
        79.35871743,  79.55911824,  79.75951904,  79.95991984,
        80.16032064,  80.36072144,  80.56112224,  80.76152305,
        80.96192385,  81.16232465,  81.36272545,  81.56312625,
        81.76352705,  81.96392786,  82.16432866,  82.36472946,
        82.56513026,  82.76553106,  82.96593186,  83.16633267,
        83.36673347,  83.56713427,  83.76753507,  83.96793587,
        84.16833667,  84.36873747,  84.56913828,  84.76953908,
        84.96993988,  85.17034068,  85.37074148,  85.57114228,
        85.77154309,  85.97194389,  86.17234469,  86.37274549,
        86.57314629,  86.77354709,  86.9739479 ,  87.1743487 ,
        87.3747495 ,  87.5751503 ,  87.7755511 ,  87.9759519 ,
        88.17635271,  88.37675351,  88.57715431,  88.77755511,
        88.97795591,  89.17835671,  89.37875752,  89.57915832,
        89.77955912,  89.97995992,  90.18036072,  90.38076152,
        90.58116232,  90.78156313,  90.98196393,  91.18236473,
        91.38276553,  91.58316633,  91.78356713,  91.98396794,
        92.18436874,  92.38476954,  92.58517034,  92.78557114,
        92.98597194,  93.18637275,  93.38677355,  93.58717435,
        93.78757515,  93.98797595,  94.18837675,  94.38877756,
        94.58917836,  94.78957916,  94.98997996,  95.19038076,
        95.39078156,  95.59118236,  95.79158317,  95.99198397,
        96.19238477,  96.39278557,  96.59318637,  96.79358717,
        96.99398798,  97.19438878,  97.39478958,  97.59519038,
        97.79559118,  97.99599198,  98.19639279,  98.39679359,
        98.59719439,  98.79759519,  98.99799599,  99.19839679,
        99.3987976 ,  99.5991984 ,  99.7995992 , 100.        ])

In [25]:
from numpy import pi

In [26]:
a=np.arange(1,2*pi)

In [28]:
a

array([1.])

In [33]:
a=np.linspace(0,2*pi,100)

In [34]:
a

array([0.        , 0.06346652, 0.12693304, 0.19039955, 0.25386607,
       0.31733259, 0.38079911, 0.44426563, 0.50773215, 0.57119866,
       0.63466518, 0.6981317 , 0.76159822, 0.82506474, 0.88853126,
       0.95199777, 1.01546429, 1.07893081, 1.14239733, 1.20586385,
       1.26933037, 1.33279688, 1.3962634 , 1.45972992, 1.52319644,
       1.58666296, 1.65012947, 1.71359599, 1.77706251, 1.84052903,
       1.90399555, 1.96746207, 2.03092858, 2.0943951 , 2.15786162,
       2.22132814, 2.28479466, 2.34826118, 2.41172769, 2.47519421,
       2.53866073, 2.60212725, 2.66559377, 2.72906028, 2.7925268 ,
       2.85599332, 2.91945984, 2.98292636, 3.04639288, 3.10985939,
       3.17332591, 3.23679243, 3.30025895, 3.36372547, 3.42719199,
       3.4906585 , 3.55412502, 3.61759154, 3.68105806, 3.74452458,
       3.8079911 , 3.87145761, 3.93492413, 3.99839065, 4.06185717,
       4.12532369, 4.1887902 , 4.25225672, 4.31572324, 4.37918976,
       4.44265628, 4.5061228 , 4.56958931, 4.63305583, 4.69652235,
       4.75998887, 4.82345539, 4.88692191, 4.95038842, 5.01385494,
       5.07732146, 5.14078798, 5.2042545 , 5.26772102, 5.33118753,
       5.39465405, 5.45812057, 5.52158709, 5.58505361, 5.64852012,
       5.71198664, 5.77545316, 5.83891968, 5.9023862 , 5.96585272,
       6.02931923, 6.09278575, 6.15625227, 6.21971879, 6.28318531])

In [35]:
b=np.sin(a)

In [36]:
b

array([ 0.00000000e+00,  6.34239197e-02,  1.26592454e-01,  1.89251244e-01,
        2.51147987e-01,  3.12033446e-01,  3.71662456e-01,  4.29794912e-01,
        4.86196736e-01,  5.40640817e-01,  5.92907929e-01,  6.42787610e-01,
        6.90079011e-01,  7.34591709e-01,  7.76146464e-01,  8.14575952e-01,
        8.49725430e-01,  8.81453363e-01,  9.09631995e-01,  9.34147860e-01,
        9.54902241e-01,  9.71811568e-01,  9.84807753e-01,  9.93838464e-01,
        9.98867339e-01,  9.99874128e-01,  9.96854776e-01,  9.89821442e-01,
        9.78802446e-01,  9.63842159e-01,  9.45000819e-01,  9.22354294e-01,
        8.95993774e-01,  8.66025404e-01,  8.32569855e-01,  7.95761841e-01,
        7.55749574e-01,  7.12694171e-01,  6.66769001e-01,  6.18158986e-01,
        5.67059864e-01,  5.13677392e-01,  4.58226522e-01,  4.00930535e-01,
        3.42020143e-01,  2.81732557e-01,  2.20310533e-01,  1.58001396e-01,
        9.50560433e-02,  3.17279335e-02, -3.17279335e-02, -9.50560433e-02,
       -1.58001396e-01, -2.20310533e-01, -2.81732557e-01, -3.42020143e-01,
       -4.00930535e-01, -4.58226522e-01, -5.13677392e-01, -5.67059864e-01,
       -6.18158986e-01, -6.66769001e-01, -7.12694171e-01, -7.55749574e-01,
       -7.95761841e-01, -8.32569855e-01, -8.66025404e-01, -8.95993774e-01,
       -9.22354294e-01, -9.45000819e-01, -9.63842159e-01, -9.78802446e-01,
       -9.89821442e-01, -9.96854776e-01, -9.99874128e-01, -9.98867339e-01,
       -9.93838464e-01, -9.84807753e-01, -9.71811568e-01, -9.54902241e-01,
       -9.34147860e-01, -9.09631995e-01, -8.81453363e-01, -8.49725430e-01,
       -8.14575952e-01, -7.76146464e-01, -7.34591709e-01, -6.90079011e-01,
       -6.42787610e-01, -5.92907929e-01, -5.40640817e-01, -4.86196736e-01,
       -4.29794912e-01, -3.71662456e-01, -3.12033446e-01, -2.51147987e-01,
       -1.89251244e-01, -1.26592454e-01, -6.34239197e-02, -2.44929360e-16])

In [37]:
c=np.array([1,2,3,4],dtype='float64')

In [38]:
c

array([1., 2., 3., 4.])

In [39]:
d=np.zeros((3,4))

In [40]:
d

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [41]:
d=np.ones((3,4),dtype='int32')

In [42]:
d

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [44]:
d=np.arange(24).reshape(2,3,4)

In [45]:
d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [46]:
d[0]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [52]:
d[0][2]

array([ 8,  9, 10, 11])

In [49]:
d[0][1]

array([4, 5, 6, 7])

In [50]:
d[0][0][1]

1

In [53]:
d[0,:,0]

array([0, 4, 8])

In [59]:
a=np.array([[1,1],[0,1]])

In [60]:
a

array([[1, 1],
       [0, 1]])

In [61]:
b=np.array([[2,3],[4,5]])

In [62]:
b

array([[2, 3],
       [4, 5]])

In [63]:
a+b

array([[3, 4],
       [4, 6]])

In [64]:
a-b

array([[-1, -2],
       [-4, -4]])

In [68]:
a*b    #for array multiplication

array([[2, 3],
       [0, 5]])

In [67]:
a@b  #for matrices multiplication

array([[6, 8],
       [4, 5]])

In [70]:
a.ndim,b.ndim

(2, 2)

In [72]:
A=np.matrix(a)

In [75]:
B=np.matrix(b)

In [76]:
A*B

matrix([[6, 8],
        [4, 5]])

In [77]:
A+B

matrix([[3, 4],
        [4, 6]])

In [82]:
np.multiply(A,B)  #for multiplication like array

matrix([[2, 3],
        [0, 5]])

In [84]:
a.dot(b)  #for array multiply like matrix if both are ndArray

array([[6, 8],
       [4, 5]])

In [86]:
a.sum(),a.min(),a.max()

(3, 0, 1)

In [88]:
b

array([[2, 3],
       [4, 5]])

In [91]:
b.sum(axis=1) #rows-wise sum

array([5, 9])

b.min(axis=1)

In [92]:
b.min(axis=1)  #rows-wise min

array([2, 4])

In [93]:
c=np.ravel(a) #to convert in 1D

In [94]:
c

array([1, 1, 0, 1])

In [99]:
e=np.power(b,2)

In [100]:
e

array([[ 4,  9],
       [16, 25]], dtype=int32)

In [104]:
e[:,:1]  #when to print slices in matrix

array([[ 4],
       [16]], dtype=int32)

In [105]:
A.T  #transpose Of Matrix

matrix([[1, 0],
        [1, 1]])

In [106]:
import pandas as pd

In [107]:
data=pd.read_csv("E:\Python\PracticleData\data1.txt", names=["population","Profit"])

In [108]:
data

    population    Profit
0       6.1101  17.59200
1       5.5277   9.13020
2       8.5186  13.66200
3       7.0032  11.85400
4       5.8598   6.82330
..         ...       ...
92      5.8707   7.20290
93      5.3054   1.98690
94      8.2934   0.14454
95     13.3940   9.05510
96      5.4369   0.61705

[97 rows x 2 columns]

In [113]:
data.head()

   population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [112]:
data.tail()

    population   Profit
92      5.8707  7.20290
93      5.3054  1.98690
94      8.2934  0.14454
95     13.3940  9.05510
96      5.4369  0.61705

In [114]:
data.describe()

       population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000